* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  width: 100vw;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ws-message {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 30px;
  padding-bottom: 0;
  line-height: 30px;
  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.ws-message:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#message-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40px;
  display: flex;
}

#message-input {
  width: auto;
  flex-grow: 1;
  padding-left: 20px;
  border: none;
  background-color: #d3d3d3;
  font-size: 1.1rem;
}

#send-button,
#connection-button {
  min-width: 120px;
  flex-grow: 0;
  border-radius: 0;
  border: none;
  font-weight: bold;
}

#send-button:hover {
  background-color: hsl(210, 100%, 50%);
}

#send-button {
  background-color: hsl(210, 100%, 56%);
}

.disconnect {
  background-color: hsl(348, 83%, 47%);
}

.disconnect:hover {
  background-color: hsl(348, 83%, 41%);
}

.connect {
  background-color: hsl(146, 50%, 36%);
}

.connect:hover {
  background-color: hsl(146, 50%, 30%);
}
